:root {
  --main-font: 'Roboto', sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --description-color: #a8a8a8;
  --contrast-color: #ffffff;
  --border-color: #ececec;
  --background-contrast-color: #2f303a;
  --background-color: #f5f4fa;
  --label-background-color: rgba(33, 150, 243, 0.9);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-modal-color: #757575;
  --button-focus-color: #188ce8;
}
